<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Booking</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/book/fonts/material-icon/css/material-design-iconic-font.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/book/vendor/jquery-ui/jquery-ui.min.css')}}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/book/css/style.css')}}">
</head>
<body>

    <div class="main">
        
        <div class="header">
          <a href="\">  <img src="/static/temp2.png" width="150" height="100"><style >img {
  border-radius: 50px;
}</style></a>
            <img src="/static/book/images/dots.png" alt="" >
        </div>
        <div class="container">
            <form id="booking-form" class="booking-form" method="POST">
                <div class="form-group">
                    <div class="form-destination">
                        <label for="destination">Location</label>
                        <input type="text" id="location" name="location" placeholder="EG. JP Nagar" />
                    </div>
                    <div class="form-date-from form-icon">
                        <label for="date_from">Date</label>
                        <input type="text" id="date_from" name='date' class="date_from" placeholder="Pick a date" />
                        <!-- <span class="icon"><i class="zmdi zmdi-calendar-alt"></i></span> -->
                    </div>
                    <div class="">
                        <label for="date_to">Time</label>
                        <input type="time" id="time" class="time" name='time' placeholder="Pick a Time" />
                        <!-- <span class="icon"><i class="zmdi zmdi-calendar-alt"></i></span> -->
                    </div>
                    <div class="form-quantity">
                        <label for="quantity">Duration(hrs)</label>
                        <span class="modify-qty plus" onClick="Tang()"><i class="zmdi zmdi-chevron-up"></i></span>
                        <input type="number" name="hours" id="quantity"  value="0" min="0" class="nput-text qty text">
                        <span class="modify-qty minus" onClick="Giam()"><i class="zmdi zmdi-chevron-down"></i></span>
                    </div>
                    <div class="form-submit">
                        <input type="submit" id="submit" class="submit" value="Book now" />
                        
                    </div>
                </div><p style="color:red;">{{msg }}</p>
            </form>
        </div>

    </div>

    <!-- JS -->
    <script src="/static/book/vendor/jquery/jquery.min.js"></script>
    <script src="/static/book/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="/static/book/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>