<!doctype html>
                        <html>
                            <head>
                                <meta charset='utf-8'>
                                <meta name='viewport' content='width=device-width, initial-scale=1'>
                                <title>Checkout</title>
                                <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet'>
                                <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
                                <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
                                <style>@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

   <meta name='viewport' content='width=device-width, initial-scale=1'>
                                <title>Snippet - BBBootstrap</title>
                                <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet'>
                                <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
                                <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
                                <style>@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,500&display=swap');

</style>
 <link href="{{ url_for('static', filename='payment.css')}}" rel="stylesheet" type="text/css">                               </head>
                                <body oncontextmenu='return false' class='snippet-body'>
                                <div class="container d-lg-flex">
    <div class="box-1 bg-light user">
        <div class="d-flex align-items-center mb-3"> <img src="https://images.pexels.com/photos/4925916/pexels-photo-4925916.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="pic rounded-circle" alt="">
            <p class="ps-2 name">{{usename}}</p>
        </div>
        <div class="box-inner-1 pb-3 mb-3 ">
            <div class="d-flex justify-content-between mb-3 userdetails">
                <p class="fw-bold">{{name}}</p>
        <p class="fw-lighter">₹{{cost}}</p>
            </div>
            <div id="my" class="carousel slide carousel-fade img-details" data-bs-ride="carousel" data-bs-interval="2000">
                <div class="carousel-indicators"> <button type="button" data-bs-target="#my" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> <button type="button" data-bs-target="#my" data-bs-slide-to="1" aria-label="Slide 2"></button> <button type="button" data-bs-target="#my" data-bs-slide-to="2" aria-label="Slide 3"></button> </div>
                <div class="carousel-inner">
            <div class="carousel-item active"> <img src="{{url}}" class="d-block w-100 h-100"> </div>
                    <div class="carousel-item"> <img src="{{url2}}" class="d-block w-100 h-100"> </div>
                    <div class="carousel-item"> <img src="{{url3}}" class="d-block w-130 h-100"> </div>
                </div> <button class="carousel-control-prev" type="button" data-bs-target="#my" data-bs-slide="prev">
                    <div class="icon"> <span class="fas fa-arrow-left"></span> </div> <span class="visually-hidden">Previous</span>
                </button> <button class="carousel-control-next" type="button" data-bs-target="#my" data-bs-slide="next">
                    <div class="icon"> <span class="fas fa-arrow-right"></span> </div> <span class="visually-hidden">Next</span>
                </button>
            </div>
            
            <div class="radiobtn"> <input type="hidden" name="box" id="one"> <input type="hidden" name="box" id="two"> <input type="hidden" name="box" id="three"> <label for="one" class="box py-2 first">
                    <div class="d-flex align-items-start"> <span class="cicle"></span>
                        <div class="course">
                            <div class="d-flex align-items-center justify-content-between mb-2"> <span class="fw-bold"> Date </span> <span class="fas fa-dollar-"></span> </div> <span>{{date}}</span>
                        </div>
                    </div>
                </label> <label for="two" class="box py-2 second">
                    <div class="d-flex"> <span class="crcle"></span>
                        <div class="course">
                            <div class="d-flex align-items-center justify-content-between mb-2"> <span class="fw-bold"> Time </span> <span class="fas fa-dollar-"></span> </div> <span>{{time}} - {{time_to}}</span>
                        </div>
                    </div>
                </label> <label for="three" class="box py-2 third">
                    <div class="d-flex"> <span class="circe"></span>
                        <div class="course">
                            <div class="d-flex align-items-center justify-content-between mb-2"> <span class="fw-bold"> Hours </span> <span class="fas fa-dollar"></span> </div> <span>{{duration}} Hours</span>
                        </div>
                    </div>
                </label> </div>
        </div>
    </div>
    <div class="box-2">
        <div class="box-inner-2">
            <div>
                <p class="fw-bold">Payment Details</p>
                <p class="dis mb-3">Complete your purchase by providing your payment details</p>
            </div>
            <form action="">
                <div class="mb-3">
                    <p class="dis fw-bold mb-2">Email address</p> <input class="form-control" type="email" value="{{email}}">
                </div>
                <div>
                    <p class="dis fw-bold mb-2">Card details</p>
                    <div class="d-flex align-items-center justify-content-between card-atm border rounded">
                        <div class="fab fa-cc-visa ps-3"></div> <input type="text" class="form-control" placeholder="Card Details">
                        <div class="d-flex w-50"> <input type="text" class="form-control px-0" placeholder="MM/YY"> <input type="password" maxlength=3 class="form-control px-0" placeholder="CVV"> </div>
                    </div>
                    <div class="my-3 cardname">
                        <p class="dis fw-bold mb-2">Cardholder name</p> <input class="form-control" type="text">
                    </div>

                        <div class="card px-4">
        <div class=" my-3">
            <p class="h8">Or choose from saved Cards</p>
     
        </div>
        <div class="debit-card mb-3">
            <div class="d-flex flex-column h-100"> <label class="d-block">
                    <div class="d-flex position-relative">
                        <div> <img src="https://www.freepnglogos.com/uploads/visa-inc-logo-png-11.png" class="visa" alt="">
                            <p class="mt-2 mb-4 text-white fw-bold">Kumar Shanker</p>
                        </div>
                        <div class="input"> <input type="radio" name="card" id="check"> </div>
                    </div>
                </label>
                <div class="mt-auto fw-bold d-flex align-items-center justify-content-between">
                    <p>4989 1237 1234 4532</p>
                    <p>01/24</p>
                </div>
            </div>
        </div>
        <div class="debit-card card-2 mb-4">
            <div class="d-flex flex-column h-100"> <label class="d-block">
                    <div class="d-flex position-relative">
                        <div> <img src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-logo-png-transparent-svg-vector-bie-supply-0.png" alt="master" class="master">
                            <p class="text-white fw-bold">Sai Kumar</p>
                        </div>
                        <div class="input"> <input type="radio" name="card" id="check"> </div>
                    </div>
                </label>
                <div class="mt-auto fw-bold d-flex align-items-center justify-content-between">
                    <p class="m-0">5540 2345 3453 2343</p>
                    <p class="m-0">05/23</p>
                </div>
            </div>
        </div></div>
                    <div class="address">
                        <p class="dis fw-bold mb-3">Billing address</p> <select class="form-select" aria-label="Default select example">
                            <option selected hidden>India</option>
                            <option value="1">US</option>
                            <option value="2">Australia</option>
                            <option value="3">Canada</option>
                            <option value="3">UK</option>
                            <option value="3">Germany</option>
                        </select>
                        <div class="d-flex"> <input class="form-control zip" type="text" placeholder="ZIP"> <input class="form-control state" type="text" placeholder="State"> </div>
                        <div class=" my-3">
                            <p class="dis fw-bold mb-2">GST Number</p>
                            <div class="inputWithcheck"> <input class="form-control" type="text" value="GB012345B9"> <span class="fas fa-check"></span> </div>
                        </div>
                        <div class="d-flex flex-column dis">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <p>Subtotal</p>
                                <p>₹{{cost}}</p>
                            </div>                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <p>Service Charges<span>(5%)</span></p>
                                <p>₹{{service}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <p>GST<span>(18%)</span></p>
                                <p>₹{{tax}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <p class="fw-bold">Total</p>
                                <p class="fw-bold">₹{{total}}</p>
                            
                            
                        </div><a href="\confirmed"><button class="btn btn-primary mt-2" type="button">Book ₹{{total}}</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
                                <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js'></script>
                                <script type='text/javascript' src=''></script>
                                <script type='text/javascript' src=''></script>
                                <script type='text/Javascript'></script>
                                </body>
                            </html>