<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>test</title>
</head>
<body>                  

<form action="#" method="POST">
  <div class="form-group">

                    <label for="email" class="sr-only">msg</label>
                    <input type="text" name="mess" id="mess" class="form-control" placeholder="enter"value="{{
          request.form.email }}" required>                   <input name="signup" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Chat">
                </form>
<p> {{msg}} </p>

                 </div>
</form>
</body>
</html>